                                                                /* universal */

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    width: 1440px;
    margin:0 auto ;
    background-color: rgb(254, 254, 255);
}

h1{
    Font-style: Bold;
    Font-size: 52px;
    line-height: 1.8;
    
    Vertical-align: Top;
}
p{
    Line-height: 24px;
}
                                                        /* first section start  */
.top-section{
    display: grid;
    margin: 120px;
    justify-items: center;
    justify-content: space-around;
    grid-template-columns: 1.5fr 1fr;
}
.top-section:hover img{
    transform: scale(1.2);
    transition: transform .5s ease-in-out;
 }
.top-section .two-parts img{
    Width: 440px;
    Height: 414px;
    border: 3px solid rgba(241, 228, 255, 0.5);
    border-radius: 50%;
}
.two-parts{
    width: 600px;
}
.buttons{
    background-color: #E02C6D;
    text-decoration: none;
    color: rgb(255, 255, 255);
    height: 100px;
    width: 196px;
    border-radius: 41px;
    padding: 10px 30px;
}
.buttons a{
padding-left: 200px;
margin: 2005x;
}

                
                                                      
                                                        /* first section end  */


                                                        /* mid-section start  */
.mid-section{
    display: flex;
    
    flex-direction: column;
    align-items: center;
}
.card-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    justify-content: center;
    height: 1662px;
    width: 1047px;
    /* margin: 0 120px; */
    justify-items: center;
    justify-content: space-around;

}
.card{
    background-color: rgb(255, 255, 255);
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 20px rgba(146, 113, 223, 0.267);
}
.card p{
    color: gray;
}
.rating{
    background-color: rgba(198, 198, 207, 0.144);
}
.fas{
    color: Orange ;
}
.see-more{
    margin-right: 221px;
    
}
.see-more a{
    text-decoration: none;
    text-align: end;
    color: #E02C6D;
    margin-right: 120px;
    width: 99px;
    height: 24px;
}
                                                     /* mid-section end  */
                                                    /* footer start  */
.footer{
    height: auto;
    color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(3, 3, 26);
    
    
}
footer p{
    color: gray;
    margin: 0;
    
}
.icons a{
    color: gray;
    margin: 0px;
    width: 32px;
    padding: 0 16px;
    line-height: 0;
   

} 
                                                    /* footer end  */
                                                        